.image_carousel {
  height: 80vh;
}

.slider_text {
  position: absolute;
}

.slider_text h3,
h5,
span {
  position: relative;
  top: 180px;
  left: 100px;
  color: white;
}

.shop_btn {
  position: relative;
  top: 200px;
  left: 100px;
}

.shop_btn button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.shop_btn button:hover {
  background-color: white;
  color: black;
}
